@import "./node_modules/materialize-css/sass/materialize"

@import "./node_modules/rainbow-code/themes/sass/_base"
@import "./node_modules/rainbow-code/themes/sass/github"

@import "components/card"
@import "components/chip"
@import "components/tab"
@import "components/collection"

body 
    display: flex
    min-height: 100vh
    flex-direction: column

main 
    flex: 1 0 auto

pre 
    padding: 0
    overflow-x: auto
    background: #FFF
    max-height: 300px
    border: 0

textarea 
    border: 0
    padding: 10px
    background: #f3f3f3

a 
    cursor: pointer

h5
    margin-top: 1em